/* .bar{
    display:flex;
    flex-direction: row;
    width:200px;
    display:flex;
    justify-content: space-evenly;
    position:fixed;
    left:0;
    top:72px;
    bottom:0;
    right:100px;
    border-right: 2px solid rgb(239, 233, 233); 
}
.sidebar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:fixed;
    width:150px;
    left:0;
    bottom:0;
    top:200px;
}
.home{
    border:none;
    background-color: white;
    display:inline-block;
    margin-bottom:10px;
}
.inhome{
    height:25px;
    width:25px;
}
.shorts{
    border:none;
    background-color: white;
    display:inline-block;
    margin-bottom:10px;
}
.inshorts{
    height:30px;
    width:30px;
}
.subscriptions{
    border:none;
    background-color: white;
    display:inline-block;
    margin-bottom:10px;
    margin-left:0;
}
.insubscriptions{
    height:25px;
    width:25px;
}
.history{
    border:none;
    background-color: white;
    display:inline-block;
    margin-bottom:10px;
}
.inhistory{
    height:25px;
    width:25px;
}
.libraries{
    border:none;
    background-color: white;
    display:inline-block;
    margin-bottom:10px;
}
.inlibraries{
    height:25px;
    width:25px;
}
.yourvideos{
    border:none;
    background-color: white;
    display:inline-block;
    margin-bottom:10px;
}
.inyourvideos{
    height:35px;
    width:30px;
}
.watchlater{
    border:none;
    background-color: white;
    display:inline-block;
    margin-bottom:10px;
}
.inwatchlater{
    height:30px;
    width:30px;
}
.showmore{
    border:none;
    background-color: white;
    display:inline-block;
    margin-bottom:10px;
    padding-top: 10px;
}
.inshowmore{
    height:25px;
    width:20px;
}

.msg{
    display: inline-block;
    margin-left: 20px;  
} */


.sidebar{
    display:flex;
    flex-direction: column;
    justify-content: start;
    z-index:3;
    position:fixed;
    left:0;
    bottom:0;
    top:70px;
    background: rgb(253, 251, 251);
    width:170px;
}
.bar{
    height:50px;
    border-right: 2px solid rgb(233, 230, 230);
    margin-bottom:1px;
    display: flex;
    flex:1;
    flex-direction: row;
    align-items:center;
    cursor:pointer;
}
.bar:hover{
    background: lightgray;
    border-radius:5px;
}

.inhome,.inshorts,.inwatchlater,.inhistory,
.inyourvideos,.insubscriptions,.inlibraries,
.inshowmore{
    display: flex;
    justify-content: center;
    margin-left:15px;
    padding:2px;
    height: 30px;
    width:30px;
    mix-blend-mode: color-burn;
    object-fit: contain;
}
.msg{
    display: flex;
    justify-content: start;
    font-size:15px;
    padding:10px;
}